<script>
  import Profile from "$lib/Profile/Profile.svelte";
</script>

<svelte:head>

  <title>R-BT - East Campus – 🛏 Dorms - MIT</title>
  <meta name="description" content="Information about East Campus, MIT" />
</svelte:head>

<Profile title="East Campus – 🛏 Dorms - MIT" />

## Links

- [MIT Residences – East Campus](https://mitguidetoresidences.mit.edu/map/east-campus)

### MIT Admissions Blog Posts

<style>
    .split {
        display: flex;
    }
</style>
